@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #A2AB73;
  --primary-light: #e0e7be;
  --primary-dark: #a1b34c;
  --secondary: #CC3A63;
  --secondary-light: #e48ea6;
  --secondary-dark: #ce063e;
  --light: #ffffff;
  --dark:#000000;
}

@theme{
  --color-primary: var(--primary);
  --color-primary-light: var(--primary-light);
  --color-primary-dark: var(--primary-dark);
  --color-secondary: var(--secondary);
  --color-secondary-light: var(--secondary-light);
  --color-secondary-dark: var(--secondary-dark);
  --color-light: var(--light);
  --color-dark: var(--dark);
}

.input-style{
  padding: 10px 14px;
  border: solid 1px var(--primary);
  outline: none;
  border-radius: 4px;
  width: 100%;
}
